$color-primary: #F06C64;
$color-primary2: #648BF0;
$color-tab: #DEDEDE;
$color-text: #767E9E;
$color-heading: #666D89;
$color-header: #2D303A;
$color-services: #F2F2F2;
$color-background: #2D303A;

$content-width: 1020px;
$tablet-width: 768px;
$mobile-width: 420px;
$mobile-small-width: 360px;
