footer {
    background-color: $color-background;

    .wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 22px 42px 18px 40px;
        & p {
            padding-top: 9px;
            font-style: normal;
            font-weight: 900;
            font-size: 13px;
            line-height: 18px;
        }
        & nav {
            justify-self: end;
        }
    }
}

ul.social-elements li {
    display: inline-block;
    cursor: pointer;
    margin-left: 5px;
    & {
        width: 32px;
        height: 32px;
        border-radius: 50px;
    }
    &:hover {
        box-shadow: 0 0 5px 2px #648BF0;
        transition: 0.3s;
    }
}
